.header {
  height: 80px;
}
nav {
  animation: nav-appear 1s ease-out forwards;
}
.header-logo {
  cursor: pointer !important;
}

@keyframes nav-appear {
  from {
    opacity: 0;
    transform: translateX(3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
