.button {
  font-weight: bold;
  font-size: 13px;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  color: white !important;
}
ul {
  display: flex;
  justify-content: space-around;
  margin-right: 10rem;

  list-style-type: none;
}
.button:hover {
  background-color: #341c6e;
}
