.button {
  margin: auto;
  width: 10rem;
  height: 3rem;
  text-align: center;
}
.header p {
  padding: 10px 10px;
  color: white;
  font-style: bold;
  font-size: 30px;
  text-align: left;
}

.button:hover {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
