.elemets-revenue-expense {
  display: flex;

  justify-content: space-between;
}
.elemets-revenue-expense p {
  font-size: large;
}
.rev-exp-container {
  display: flex;
  justify-content: space-evenly;
  /* background-color: rgb(167, 230, 241); */

  font-style: bold;
}
.revenue,
.expense {
  width: 21rem;
}
.total {
  border-top: 1px solid black;
}
.netincome {
  display: flex;
  justify-content: center;

  font-style: bold;
}
.header p {
  padding: 10px 10px;
  color: white;
  font-style: bold;
  font-size: 30px;
  text-align: left;
}
